html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #FAFAFA;
    color: #8B8B8B;
}


h1 {
    font-size: 28px;
    color: #000000; 
}


h2 {
    color: #000000;
    font-size: 16px;

}

.happytraveler {
    margin: auto;
   padding: 60px 75px 0 75px;
  
}
.linka {
  border: 1px solid #407BFF;
  width: 60px;
  align-self: center;
}



  .button1 {
    color: #ffffff;
    font-size: 14px;
    border-style: none;
    border-radius: 20px;
    background-color: #407bff;
    width: 195px;
    padding: 10px 20px;
    display: block;
    margin: auto;
  }

 

  .button2 {
    color: #ffffff;
    font-size: 14px;
    border-style: none;
    border-radius: 20px;
    background-color: #8b8b8b;
    width: 220px;
    padding: 10px 20px;
    margin-top: 10px;
   margin-bottom: 10px;
    
  }



 .container {
    border-radius: 10px;
    box-shadow: 0 4px 6px #407bff1f;
    color: #8b8b8b;
    display: flex;
    text-align: center;
    align-items: center;
  }

  
  @media screen and (max-width: 640px) {

    .firstsection,
    .secondsection,
    .thirdsection {
        display: flex;
        flex-direction: column;
        text-align: center;
      
    }

    .firstarticle {
      display: flex;
      flex-direction: column;
      
    }
    .linka {
      align-items: center;
  }
   
   
    .buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 30px;
      padding-bottom: 60px;
    }

    .button2{
      margin-top: 10px;
    }

    .sluzby {
      margin: 0 20px 0 20px;

    }
    .sluzby2 {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin: 30px 20px 60px 20px;
      
    
    }

    .sluzby3 {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin: 30px 20px 60px 20px;
      
    
    }

    .sluzby4 {
      margin: 0 20px 0 20px;

    }

    .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;


    }
   
    .icon {
      align-self: center;
      margin: 29px;
    }

    h2 {
      margin-bottom: 17px;
    }
    
  }

@media screen and (min-width: 640px) {

  .firstsection,
  .secondsection,
  .thirdsection {
      display: flex;
      flex-direction: column;
      text-align: center;
  }


  .firstarticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .linka {
    align-items: center;
}
   
    .buttons {
      display: flex;
      margin-bottom: 80px;
    }   
  
    .button2 {
      margin-left: 10px;
    
    }

    .sluzby {
      margin: 0 109px 0 109px;

    }

  .sluzby2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      margin: 40px 20px 80px 20px;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 0;
    
    }

    .sluzby3 {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      margin: 40px 20px 80px 20px;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 0;
    }

    .sluzby4 {
      margin: 0 109px 0 109px;

    }

   .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
      } 
  
    .icon {
      align-self: center;
      margin: 10px;
    }
    
  }


@media screen and (min-width: 1100px) {
    .firstsection,
    .secondsection,
    .thirdsection {
       display: flex;
       flex-direction: row;
        text-align: left;
        
    }

    .firstsection {
      flex-direction: row-reverse;
    
    }

    .secondsection {
      flex-direction: row-reverse;
    }
    .firstarticle {
      text-align: left;
      align-content: left;
    }
    
    
    .linka {
      align-self: baseline;
      margin-left: 82px;
      margin-bottom: 42px;
  }
  h1 {
    margin: 133px 388px 0 82px ;
  }

  h2 {
    margin-bottom: 17px;
  }
  .specialization {
    margin: 0 94px 30px 82px;
  }

    .buttons {
      display: flex;
      
    }

    .button1 {
      margin-right: 20px;
    }
        
    .icon {
        align-self: center;
        margin: 10px;
        height: 40px;
        width: 50px;
    }
    .sluzby {
      margin: 119px 80px 119px 0;

    }

    .sluzby2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      margin: 147px 60px 80px 82px;
    
    }

    .sluzby3 {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      margin-left: 60px;
    }

    .sluzby4 {
      margin: 119px 60px 97px 80px;

    }

   .container {
        display: flex;
        flex-direction: column;
        height: 191px;
        width: 170px;
      }  
    .iconstext {
      font-size: 13px;
    }
}

    